@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.booksDataComponent {
  :global {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: 100px;

    h2 {
      @include h2;
    }
    small {
      font-family: $poiret;
    }
    .servicesWrapper {
      background-color: transparent;
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    .title,
    .subTitle {
      font-family: $durer;
    }
    .cardWrapper {
      border-radius: 10px;
      width: calc(100% / 5 - 30px);
      height: auto;
      @include mq($xlg) {
        width: calc(100% / 4 - 30px);
      }
      @include mq($lgx) {
        width: calc(100% / 3 - 20px);
      }
      @include mq($xls) {
        width: calc(100% / 2 - 20px);
      }
      @include mq($xms) {
        width: 100%;
      }
    }
  }
}
