@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.loadingPage {
  :global {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
