@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.footer {
  :global {
    width: 100%;
    background-color: $light;
    .Footer {
      border-top: 1px solid $border;
      p {
        @include p;
        font-family: $poiret;
        color: $dark;
      }

      .medias {
        gap: 20px;
        .icon {
          width: 30px;
          aspect-ratio: 1/1;
          height: auto;
        }
      }
    }
    small {
      color: $border;
      a {
        text-decoration: none;
        color: $border;
        &:hover {
          transform: scale(1.5);
        }
      }
    }
  }
}
