@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.bookCard {
  :global {
    padding: 0;
    font-family: $polisMedium;
    border: none !important;
    border-radius: inherit;
    width: 100%;
    .appBtn {
      @include appBtn;
    }
    .card-title {
      @include h3;
      font-weight: 900;
    }
    .card-body {
      flex: 1 1 40% !important;
    }
    .img-cover {
      width: 100%;
      aspect-ratio: 200/230;
      height: auto;
      object-fit: cover;
      @include mq($md) {
        height: 250px !important;
      }
      @include mq($sm) {
        height: auto !important;
      }
      @include mqh($sm) {
        height: auto !important;
      }
    }
    .card-text {
      @include p;
      font-family: $poiret;
    }
  }
}
